@import url('https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

h1 {
  color: #E6BE58;
}

a { text-decoration: none }

p { margin: 0.75rem 0; font-weight: 300; }

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-primary {
  color: #E6BE58;
}

.bg-light {
  background: #f4f4f4;
  color: #282017;
}

.bg-dark {
  background: #282017;
  color: #fff;
}

.bg-primary {
  background: #E6BE58;
  color: #fff;
}

.l-heading {
  font-size: 5rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heading {
  font-size: 3rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.text-center { text-align: center; }

.lead {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  max-width: 800px;
}

.py-1 { padding: 2.5rem 0; }
.py-2 { padding: 4rem 0; }
.py-3 { padding: 5.5rem 0; }

.p-1 { padding: 2.5rem; }
.p-2 { padding: 4rem; }
.p-3 { padding: 5.5rem; }

.btn {
  display: inline-block;
  color: #fff;
  background: #E6BE58;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.btn:hover {
  background: #c19a38;
}

.btn-dark {
  background: #282017;
}

.list {
  margin: 0.75rem 0;
  list-style: none;
}

.list li {
  padding: 0.75rem 0;
  border-bottom: #444 dotted 1px;
}

/* Navbar */
#navbar {
  background: #282017;
  color: #fff;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding: 1.75rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul a {
  color: #fff;
  padding: 1rem;
  margin: 0 0.25rem;
  transition: all 0.3s ease-in;
}

#navbar ul a:hover {
  background: #E6BE58;
  border-radius: 5px;
}

/* Showcase */
#showcase {
  background: #282017 url('../img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

#showcase .showcase-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  /* Overlay */
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  background-color: rgba(0,0,0,0.6);
}

/* What We Do */
#what .items {
  display: flex;
  padding: 1rem;
}

#what .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#what .items .item i {
  background: #E6BE58;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* Who We Are */
#who {
  display: flex;
}

#who div {
  flex: 1;
}

#who .who-img {
  background: url('../img/people.jpg') no-repeat center center/cover;
}

/* Clients */
#clients .items {
  display: flex;
}

#clients .items img {
  display: block;
  margin: auto;
  width: 60%;
}

/* Contact */
#contact {
  display: flex;
}

#contact .map, #contact .contact-form {
  flex: 1;
}

#contact .contact-form .form-group {
  margin: 0.75rem 0;
}

#contact .contact-form label {
  display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  border: none;
}

#contact .contact-form textarea {
  height: 150px;
}